@import "tailwindcss";

@theme {
  /* darkest */
  --color-menu: #000000;
  --color-background: #0B0A0A;
  --color-foreground: #121111;
  --color-context-foreground: #191818;
  --color-highlight: #BAD4F7;
  --color-stroke: #22242B;
  --color-accent: #92E8D4;
  --color-accent-hover: #84d5c2;
  /* --color-accent: #FF8C42; */
  --color-hover-highlight: #1E1D1D;

  /* Fonts */
  /* --font-display: "Inter var", system-ui, sans-serif; */
}